@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");
:root {
  --blue-intro: hsl(217, 28%, 15%);
  --blue-main: hsl(218, 28%, 13%);
  --blue-footer: hsl(216, 53%, 9%);
  --blue-testimonials: hsl(219, 30%, 18%);
  --cyan-gradient: hsl(176, 68%, 64%);
  --blue-gradient: hsl(198, 60%, 50%);
  --gradient: linear-gradient(
  	to right,
  	var(--cyan-gradient),
  	var(--blue-gradient)
  );
  --body-font: "Open Sans", sans-serif;
  --heading-font: "Raleway", sans-serif;
  --number-of-columns-cards: 1;
  --number-of-columns-testimonials: 1;
  --padding-container: 60px 0;
}

@media screen and (min-width: 64em) {
  :root {
    --number-of-columns-cards: 2;
    --number-of-columns-testimonials: 3;
  }
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img,
picture {
  display: block;
  max-width: 100%;
}

input,
button {
  font: inherit;
  background-color: transparent;
  border: none;
}

body {
  font-family: var(--body-font);
  background-color: var(--blue-main);
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  padding: var(--padding-container);
  margin-inline: auto;
}

.hero {
  background-color: var(--blue-intro);
  position: relative;
  color: #fff;
}
.hero__wave {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40%;
  background-color: var(--blue-main);
}
.hero__wave::before {
  content: "";
  width: 100%;
  height: 100px;
  position: absolute;
  top: -100px;
  background-image: url(../images/bg-curvy-mobile.svg);
  background-repeat: no-repeat;
  background-size: 100% 100px;
}
.hero .nav {
  display: flex;
  align-items: center;
  font-family: var(--heading-font);
}
.hero .nav__img {
  width: 100px;
  display: block;
}
.hero .nav__links {
  margin-left: auto;
  display: grid;
  grid-auto-flow: column;
  gap: 1em;
}
.hero .nav__link {
  color: #fff;
  position: relative;
  display: inline-block;
}
.hero .nav__link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  border-radius: 4px;
  scale: 0 1;
  transform-origin: left;
  transition: scale 0.25s;
}
.hero .nav__link:hover::before {
  scale: 1;
}
.hero__main {
  text-align: center;
  position: relative;
}
.hero__img {
  max-width: 500px;
  margin: 0 auto;
}
.hero__title {
  font-family: var(--heading-font);
  margin: 2.5em 0 1em;
}
.hero__paragraph {
  line-height: 1.5;
  margin-bottom: 1.5em;
}
.hero__cta {
  display: inline-block;
  width: 250px;
  padding: 15px 0;
  background-image: var(--gradient);
  font-family: var(--heading-font);
  font-weight: bold;
  text-decoration: none;
  border-radius: 30px;
}
.hero__cta:hover {
  background-color: #4cc1d3;
  background-image: linear-gradient(315deg, #4cc1d3 0%, #4cc1d3 74%);
}

.cards {
  color: #fff;
  text-align: center;
  display: grid;
  gap: 5em;
  grid-template-columns: repeat(var(--number-of-columns-cards), 1fr);
  -moz-column-gap: 2rem;
  column-gap: 2rem;
}
.cards__img {
  width: 110px;
  height: 130px;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0 auto;
  margin-bottom: 1.5em;
}
.cards__tile {
  font-family: var(--heading-font);
  margin-bottom: 1em;
}
.cards__paragraph {
  line-height: 1.5;
}

.about__img {
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 3em;
}
.about__texts {
  color: #fff;
}
.about__title {
  font: var(--heading-font);
}
.about__paragraph {
  margin-top: 2em;
  line-height: 1.5;
}
.about__cta {
  margin-top: 1em;
  display: inline-block;
  transition: color 0.3s ease;
  color: var(--cyan-gradient);
  text-decoration: none;
  line-height: 2.5;
  border-bottom: 1px solid var(--cyan-gradient);
}
.about__cta .about__icon {
  width: 20px;
  margin-left: 0.3em;
  vertical-align: middle;
  display: inline;
  transition: filter 0.3s ease;
}
.about__cta:hover {
  color: #fff;
  border-bottom: 1px solid #fff;
}
.about__cta:hover .about__icon {
  filter: grayscale(100%);
}

.testimony {
  display: grid;
  grid-template-columns: repeat(var(--number-of-columns-testimonials), 1fr);
  -moz-column-gap: 2rem;
  column-gap: 2rem;
  gap: 2em;
  color: #fff;
}
.testimony__item {
  width: 90%;
  margin: 0 auto;
  background-color: var(--blue-testimonials);
  padding: 2em 1.2em;
  border-radius: 6px;
  box-shadow: 1px 1px 10px -5px rgba(255, 255, 255, 0.28);
  position: relative;
}
.testimony__item--first::after {
  content: "";
  position: absolute;
  top: -35px;
  left: 0;
  width: 40px;
  height: 40px;
  z-index: -1;
  background-image: url("../images/bg-quotes.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.testimony__info {
  margin-top: 1.5em;
  display: flex;
  align-items: center;
  gap: 1em;
}
.testimony__picture {
  width: 40px;
  height: 40px;
}
.testimony__picture .testimony__img {
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.testimony__name {
  font-size: 1.1rem;
  font-family: var(--body-font);
  margin-bottom: 0.3em;
}
.testimony__job {
  font-size: 0.8rem;
  color: #a1a1a1;
}

.join {
  background-image: linear-gradient(var(--blue-main) 50%, var(--blue-footer) 50%);
  padding: 60px 0;
}
.join__container {
  background-color: var(--blue-testimonials);
  padding: 3.5em 1.5em;
  border-radius: 15px;
  text-align: center;
  color: #fff;
  max-width: 800px;
}
.join__title {
  font-family: var(--heading-font);
  margin-bottom: 1em;
}
.join__paragraph {
  line-height: 1.5;
  margin-bottom: 1em;
}
.join__form {
  display: grid;
  gap: 1.2em;
}
.join__input {
  font: inherit;
  padding: 1em 1.4em;
  border: none;
  outline: none;
  background-color: #fff;
  border-radius: 30px;
}
.join__input--submit {
  background-image: var(--gradient);
  color: #fff;
  font-family: var(--heading-font);
  font-weight: 700;
}
.join__input--submit:hover {
  background-color: #4cc1d3;
  background-image: linear-gradient(315deg, #4cc1d3 0%, #4cc1d3 74%);
}

.footer {
  color: #fff;
  background-color: var(--blue-footer);
}
.footer__picture {
  width: 200px;
  margin-bottom: 2.5em;
}
.footer__contact {
  padding-bottom: 20px;
}
.footer__direction {
  color: #fff;
  text-decoration: none;
  display: flex;
  gap: 1em;
  align-items: flex-start;
}
.footer__direction--second {
  margin: 1em 0;
}
.footer__nav {
  display: grid;
  gap: 0.7em;
  margin-top: 2em;
}
.footer__link {
  color: #fff;
  text-decoration: none;
  font-family: var(--heading-font);
}
.footer__link:hover {
  font-weight: bold;
}
.footer__social {
  margin: 0 auto;
  margin-top: 4em;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: grid;
  grid-auto-rows: -webkit-max-content;
  grid-auto-rows: max-content;
  grid-auto-flow: column;
  gap: 1em;
}
.footer__smedia {
  display: inline-flex;
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.footer__smedia:hover {
  background-color: white;
}
.footer__smedia:hover .footer__media {
  filter: brightness(0.5) sepia(1) hue-rotate(190deg) saturate(9000%);
}

@media (min-width: 768px) {
  .hero__wave::before {
    background-image: url(../images/bg-curvy-desktop.svg);
  }
  .hero__title {
    font-size: 3rem;
  }
  .about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
    align-items: center;
  }
  .about__title {
    font-size: 2rem;
  }
  .join__form {
    padding-top: 1em;
    grid-template-columns: 1fr -webkit-max-content;
    grid-template-columns: 1fr max-content;
  }
  .footer__content {
    display: grid;
    grid-auto-flow: column;
    gap: 2em;
  }
  .footer__contact {
    max-width: 200px;
  }
  .footer__nav {
    margin: 0;
  }
  .footer__social {
    margin: 0;
  }
  .footer__direction--first {
    max-width: 300px;
  }
  .footer__direction--second {
    margin: 0 0 1em;
  }
}/*# sourceMappingURL=styles.css.map */