@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");

:root {
	--blue-intro: hsl(217, 28%, 15%);
	--blue-main: hsl(218, 28%, 13%);
	--blue-footer: hsl(216, 53%, 9%);
	--blue-testimonials: hsl(219, 30%, 18%);
	--cyan-gradient: hsl(176, 68%, 64%);
	--blue-gradient: hsl(198, 60%, 50%);
	--gradient: linear-gradient(
		to right,
		var(--cyan-gradient),
		var(--blue-gradient)
	);
	--body-font: "Open Sans", sans-serif;
	--heading-font: "Raleway", sans-serif;
	--number-of-columns-cards: 1;
	--number-of-columns-testimonials: 1;
	--padding-container: 60px 0;
}

@media screen and (min-width: 64em) {
	:root {
		--number-of-columns-cards: 2;
		--number-of-columns-testimonials: 3;
	}
}

*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style: none;
}

img,
picture {
	display: block;
	max-width: 100%;
}

address{
	font-style: normal;
}

input,
button {
	font: inherit;
	background-color: transparent;
	border: none;
}
body {
	font-family: var(--body-font);
	background-color: var(--blue-main);
}

.container {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
	overflow: hidden;
	padding: var(--padding-container);
	margin-inline: auto;
}

.hero {
	background-color: var(--blue-intro);
	position: relative;
	color: #fff;

	&__wave {
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 40%;
		background-color: var(--blue-main);

		&::before {
			content: "";
			width: 100%;
			height: 100px;
			position: absolute;
			top: -100px;
			background-image: url(../images/bg-curvy-mobile.svg);
			background-repeat: no-repeat;
			background-size: 100% 100px;
		}
	}

	.nav {
		display: flex;
		align-items: center;
		font-family: var(--heading-font);

		&__img {
			width: 100px;
			display: block;
		}

		&__links {
			margin-left: auto;
			display: grid;
			grid-auto-flow: column;
			gap: 1em;
		}

		&__link {
			color: #fff;
			position: relative;
			display: inline-block;

			&::before{
				content: "";
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;
				height: 2px;
				background-color: #fff;
				border-radius: 4px;
				scale: 0 1;
				transform-origin: left;
				transition: scale 0.25s;
			}
			&:hover::before{
				scale: 1;
			}
		}
	}

	&__main {
		text-align: center;
		position: relative;
	}

	&__img {
		max-width: 500px;
		margin: 0 auto;
	}

	&__title {
		font-family: var(--heading-font);
		margin: 2.5em 0 1em;
	}

	&__paragraph {
		line-height: 1.5;
		margin-bottom: 1.5em;
	}

	&__cta {
		display: inline-block;
		width: 250px;
		padding: 15px 0;
		background-image: var(--gradient);
		font-family: var(--heading-font);
		font-weight: bold;
		text-decoration: none;
		border-radius: 30px;

		&:hover{
			background-color: #4cc1d3;
			background-image: linear-gradient(315deg, #4cc1d3 0%, #4cc1d3 74%);
		}
	}
}

.cards {
	color: #fff;
	text-align: center;
	display: grid;
	gap: 5em;
	grid-template-columns: repeat(var(--number-of-columns-cards), 1fr);
	-moz-column-gap: 2rem;
	column-gap: 2rem;

	&__img {
		width: 110px;
		height: 130px;
		object-fit: contain;
		margin: 0 auto;
		margin-bottom: 1.5em;
	}

	&__tile {
		font-family: var(--heading-font);
		margin-bottom: 1em;
	}

	&__paragraph {
		line-height: 1.5;
	}
}

.about {
	&__img {
		max-width: 500px;
		margin: 0 auto;
		margin-bottom: 3em;
	}

	&__texts {
		color: #fff;
	}

	&__title {
		font: var(--heading-font);
	}

	&__paragraph {
		margin-top: 2em;
		line-height: 1.5;
	}

	&__cta {
		margin-top: 1em;
		display: inline-block;
		transition: color 0.3s ease;
		color: var(--cyan-gradient);
		text-decoration: none;
		line-height: 2.5;
		border-bottom: 1px solid var(--cyan-gradient);

		.about__icon {
			width: 20px;
			margin-left: 0.3em;
			vertical-align: middle;
			display: inline;
			transition: filter 0.3s ease;
		}

		&:hover{
			color: #fff;
			border-bottom: 1px solid #fff;
			.about__icon{
				filter: grayscale(100%);
			}
		}
	}
}

.testimony {
	display: grid;
	grid-template-columns: repeat(var(--number-of-columns-testimonials), 1fr);
	-moz-column-gap: 2rem;
	column-gap: 2rem;
	gap: 2em;
	color: #fff;

	&__item {
		width: 90%;
		margin: 0 auto;
		background-color: var(--blue-testimonials);
		padding: 2em 1.2em;
		border-radius: 6px;
		box-shadow: 1px 1px 10px -5px rgba(255, 255, 255, 0.28);
		position: relative;

		&--first::after {
			content: "";
			position: absolute;
			top: -35px;
			left: 0;
			width: 40px;
			height: 40px;
			z-index: -1;
			background-image: url("../images/bg-quotes.png");
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
		}
	}

	&__info {
		margin-top: 1.5em;
		display: flex;
		align-items: center;
		gap: 1em;
	}

	&__picture {
		width: 40px;
		height: 40px;

		.testimony__img {
			border-radius: 50%;
			object-fit: cover;
		}
	}

	&__name {
		font-size: 1.1rem;
		font-family: var(--body-font);
		margin-bottom: 0.3em;
	}

	&__job {
		font-size: 0.8rem;
		color: #a1a1a1;
	}
}

.join {
	background-image: linear-gradient(
		var(--blue-main) 50%,
		var(--blue-footer) 50%
	);
	padding: 60px 0;

	&__container {
		background-color: var(--blue-testimonials);
		padding: 3.5em 1.5em;
		border-radius: 15px;
		text-align: center;
		color: #fff;
		max-width: 800px;
	}

	&__title {
		font-family: var(--heading-font);
		margin-bottom: 1em;
	}

	&__paragraph {
		line-height: 1.5;
		margin-bottom: 1em;
	}

	&__form {
		display: grid;
		gap: 1.2em;
	}

	&__input {
		font: inherit;
		padding: 1em 1.4em;
		border: none;
		outline: none;
		background-color: #fff;
		border-radius: 30px;

		&--submit {
			background-image: var(--gradient);
			color: #fff;
			font-family: var(--heading-font);
			font-weight: 700;

			&:hover{
				background-color: #4cc1d3;
				background-image: linear-gradient(315deg, #4cc1d3 0%, #4cc1d3 74%);
			}
		}
	}
}

.footer {
	color: #fff;
	background-color: var(--blue-footer);

	&__picture {
		width: 200px;
		margin-bottom: 2.5em;
	}

	&__contact {
		padding-bottom: 20px;
	}

	&__direction {
		color: #fff;
		text-decoration: none;
		display: flex;
		gap: 1em;
		align-items: flex-start;

		&--second {
			margin: 1em 0;
		}
	}

	&__nav {
		display: grid;
		gap: 0.7em;
		margin-top: 2em;
	}

	&__link {
		color: #fff;
		text-decoration: none;
		font-family: var(--heading-font);

		&:hover {
			font-weight: bold;
		}
	}

	&__social {
		margin: 0 auto;
		margin-top: 4em;
		width: max-content;
		display: grid;
		grid-auto-rows: max-content;
		grid-auto-flow: column;
		gap: 1em;
	}

	&__smedia {
		display: inline-flex;
		width: 40px;
		height: 40px;
		border: 1px solid #fff;
		align-items: center;
		justify-content: center;
		border-radius: 50%;

		&:hover{
			background-color: white;

			.footer__media{
				filter: brightness(0.5) sepia(1) hue-rotate(190deg) saturate(9000%);
			}
		}
	}
}

@media (min-width: 768px) {
	.hero{

		&__wave::before{
			background-image: url(../images/bg-curvy-desktop.svg);
		}

		&__title{
			font-size: 3rem;
		}
	}

	.about{
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 2em;
		align-items: center;

		&__title{
			font-size: 2rem;
		}
	}

	.join{
		&__form{
			padding-top: 1em;
			grid-template-columns: 1fr max-content;
		}
	}

	.footer{
		&__content{
			display: grid;
			grid-auto-flow: column;
			gap: 2em;
		}

		&__contact{
			max-width: 200px;
		}

		&__nav{
			margin: 0;
		}

		&__social{
			margin: 0;
		}

		&__direction--first{
			max-width: 300px;
		}

		&__direction--second{
			margin: 0 0 1em;
		}
	}

}