.result {
    background-color: hsl(183, 100%, 15%);
    color: white;
    padding: 3rem 21px;
    border-radius: 12px;
    margin: 0 2.4rem;
    margin-bottom: 30px;
    overflow: hidden;
}

.result__net,
.result__total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.7rem;
    flex-wrap: wrap;
}

.result__amount{
    font-size: 2.8rem;
    color: hsl(172, 67%, 45%);
    font-weight: 700;
}

.result__btn {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: hsl(183, 100%, 15%);
    background-color: hsl(172, 67%, 45%);
    padding: 9px 0 9px 0;
    border-radius: 5px;
    min-width: 90%;
    cursor: pointer;
}